<div class="workspace">
  <app-topbar
    class="topbar-wrapper"
    [projectName]="projectName"
    (newArchitecture)="onNewArchitecture()"
    (projectNameChange)="onProjectNameChange($event)"
  ></app-topbar>

  <div class="body">
    <div class="sidebar">
      <app-service-palette></app-service-palette>
    </div>

    <div class="main-content">
      <div class="canvas-wrapper">
        <app-canvas
          #canvas
          (graphChange)="terraformJson = $event"
        ></app-canvas>
      </div>
      <div class="terraform-wrapper">
        <app-terraform-preview
          [configJson]="terraformJson"
        ></app-terraform-preview>
      </div>
    </div>
  </div>
</div>
