<div class="workspace">
  <app-topbar
    class="topbar-wrapper"
    [projectName]="projectName"
    (newArchitecture)="onNewArchitecture()"
    (projectNameChange)="onProjectNameChange($event)"
  ></app-topbar>

  <div class="body">
    <div class="sidebar">
      <app-service-palette></app-service-palette>
    </div>

    <!-- MAIN: canvas | splitter | terraform -->
    <div class="main-content" #mainContent>
      <div class="canvas-wrapper">
        <app-canvas #canvas (graphChange)="terraformJson = $event"></app-canvas>
      </div>

      <!-- divisor arrastável -->
      <div class="splitter" (mousedown)="startResize($event)"></div>

      <div class="terraform-wrapper dark" #terraformPane>
        <div class="title">Terraform Configuration</div>
        <app-terraform-preview
          [configJson]="terraformJson"
          (liveConfig)="onLiveConfig($event)"
        ></app-terraform-preview>
      </div>
    </div>
  </div>
</div>
